html, body {
  height: 100%;
  font-family: ProductSans;
}

body {
  margin-top: 50px;
  /* background-color: #F8F6F8; */
  background-color: white;
  text-align: justify;
}

.cover {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: "ProductSans";
  src: url("../font/product-sans/Product_Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.btn {
  /* background-color: #6E828A; */
  background-color: #143952;
  color: white;
  margin-right: 10px;
}

.carousel-inner .carousel-item {
  width: 100%;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
}

.ad1 {
  background: url(https://via.placeholder.com/1920x1080.png/0000FF/fff) no-repeat center center fixed;
}

.ad2 {
  background: url(https://via.placeholder.com/1920x1080.png/FF0000/fff) no-repeat center center fixed;
}

.ad3 {
  background: url(https://via.placeholder.com/1920x1080.png/008000/fff) no-repeat center center fixed;
}

.title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #143952;
  display: block;
}

.cursosDestacados, .mis_cursos {
  align-items: center;
}

#cardDestacados {
  margin: 12px;
  width: 18rem;
  display: inline-block;
  background-color: #6E828A;
  color: white;
}

#cardDestacados:hover{
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.70), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#cardCurso{
  margin: 12px;
  width: 18rem;
  display: inline-block;
  background-color: #6E828A;
  color: white;
}

.card-link:hover{
  text-decoration: underline;
}

.modal-content {
  background-color: #143952;
  color: white;
  text-align: center;
}

.close, .close:hover {
  color: white;
}

.tab-name, .tab-name:hover{
  color: white;
  margin-right: 2em;
}

.tab-name:active{
  color: #6E828A;
}

.tab-pane{
  margin-top: 1em;
}

#jumbo_prof{
  width: 50%;
  margin-left: 15em;
  margin-top:5em;
  background-color: #143952;
  color: white;
}

#jumbo_reg{
  background-color: #143952;
  color: white;
  margin-top:5em;
  width: 50%;
  margin: auto;
  margin-top: 6em;
}

#imglogo {
  display: block;
  margin: auto;
}

#imagenProfesor{
  display: block;
  width: 100%;
  height: 100%;
}

.contenido-seccion {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.texto-acerca-de {
  background: rgba(0, 0, 0, .8);
  color: white;
  padding: 1.875rem;
  text-align: justify;
  text-justify: inter-word;
  height: 100%;
}

.texto-cover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.875rem;
  text-align: justify;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], input[type='time'] select, textarea {
  width: 100%;
  border-radius: 8px;
  border: 3px solid #143952;
  padding: 10px;
  margin-right: 20px;
  color: #333;
  font-size: 14px;
  margin: auto;
  margin-top: 1em;
}

input[type='submit'] {
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #6E828A;
  font-size: 14px;
  border: 1px solid #6E828A;
  border-radius: 2px;
  margin-top: 5px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #6E898A;
}

#btnIngreso {
  margin-top: 100px;
  width: 90%;
}

#btnRegistro {
  margin-top: 10px;
  width: 90%;
}
