html,body{
    height: 100%;
    font-family: ProductSans;
}

body{
  margin-top: 50px;
  /* background-color: #F8F6F8; */
  background-color: white;
  text-align: justify;
}

.cover{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

@font-face {
  font-family:"ProductSans";
  src:url("../font/product-sans/Product_Sans_Regular.ttf") format("truetype");
  font-weight:normal;font-style:normal;
}

.btn{
  /* background-color: #6E828A; */
  background-color: #143952;
  color: white;
  margin-right: 10px;
}

#carrusel{
  margin-top: 50px;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
}

.ad1 {
    background: url(../img/proffesor.jpg) no-repeat center center fixed;
}

.ad2 {
    background: url(../img/study.jpg) no-repeat center center fixed;
}

.ad3 {
    background: url(../img/study2.jpg) no-repeat center center fixed;
}

.title{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #143952;
  display: block;
}

.cursosDestacados{
  align-items: center;
}

.card{
  margin: 12px;
  width: 18rem;
  display: inline-block;
  background-color: #6E828A;
  color: white;
}

.modal-content{
  background-color: #143952;
  color: white;
  text-align: center;
}
.close, .close:hover{
  color: white;
}

#imglogo{
    display: block;
    margin: auto;
}

.contenido-seccion{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.texto-acerca-de{
    background: rgba(0,0,0,.8);
    color: white;
    padding: 1.875rem;
    text-align: justify;
    text-justify: inter-word;
    height: 100%;
}

.texto-cover{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.875rem;
    text-align: justify;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], select, textarea {
  width: 200px;
  border-radius: 8px;
  border: 3px solid #143952;
  padding: 10px;
  margin-right: 20px;
  color: #333;
  width: 90%;
  font-size: 14px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

input[type='submit']{
  padding: 10px 25px 8px;
  color: #fff;
  background-color: #6E828A;
  font-size: 14px;
  border: 1px solid #6E828A;
  border-radius: 2px;
  margin-top: 5px;
  cursor:pointer;}

input[type='submit']:hover {
  background-color: #6E898A;
}

#btnIngreso{
  margin-top: 100px;
  width: 90%;
}

#btnRegistro{
  margin-top: 10px;
  width: 90%;
}

/*Navbar*/

.navbar {
  background-color: #143952;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #143952;
  border-color: #6E828A;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #6E828A;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #6E828A;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #6E828A;
}
.navbar .navbar-toggle {
  border-color: #6E828A;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #6E828A;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #6E828A;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #6E828A;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #6E828A;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #6E828A;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #6E828A;
}
